<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3DUtLn0PclswwyjJZxi8gqS-u3txecpM</string>
	<key>GCM_SENDER_ID</key>
	<string>307076009581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.isDpelicula</string>
	<key>PROJECT_ID</key>
	<string>dpeliculas-695a1</string>
	<key>STORAGE_BUCKET</key>
	<string>dpeliculas-695a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307076009581:ios:17eadf4f199d0a8971f964</string>
	<key>DATABASE_URL</key>
	<string>https://dpeliculas-695a1-default-rtdb.firebaseio.com</string>
</dict>
</plist>